@import "ui/ui_tab.css";
@import "ui/ui_table.css";
@import "ui/ui_pop.css";
@import "ui/ui_button.css";

body{
	font:12px/1.5 Tahoma,arial,'microsoft yahei';
	color: #333;
}
a:link,
a:visited,
a:hover{
	text-decoration: none;
}
.gray{
	color: #999;
}
.red{
	color: #d9363c;
}
.clear:after{
	content: '';
	display: block;
	clear: both;
}
.mt{
	margin-top:10px;
}
strong{
	font-weight: bold;
}
.icon-close{
	font-size: 24px;
}
.pop-l{
	top: 50%;
	left: 50%;
	margin: -175px 0 0 -455px;
}
.txt{
	padding: 4px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #ddd;
	outline: none;
}
.txt-inp{
	width: 95%;
}
.fieldset{
	margin: 100px auto;
	width: 500px;
	overflow: hidden;
}
.field{
	padding: 5px 0 5px 100px;
}
.form-error{
	display: none;
	color: #d9363c;
}
.field-hd{
	line-height: 32px;
	margin: 0 0 0 -100px;
	width: 100px;
	float: left;
}
.td-prop .txt{
	width: 140px;
}
.prop-bd .txt{
	margin-right: 10px;
	float: left;
}
.td-word .txt{
	width: 115px;
}
.td-eare .txt{
	width: 50px;
	float: left;
	margin-left: -1px;
}

.prod-name{
	margin-top: 15px;
}

/* star */
.score{
	display: inline-block;
	vertical-align: middle;
	margin-top: -7px;
}
.star-wrap {
    position: relative;
    vertical-align: middle;
    margin: 10px 0;
}

.star {
    width: 100px;
    height: 15px;
    display: inline-block;
    background: url(../img/star_bg.png) no-repeat
}

.star-full {
    position: absolute;
    left: 0;
    top: 0;
    background-position: 0 -19px
}

.star-0 {
    width: 0;
}

.star-1 {
    width: 8px
}

.star-2 {
    width: 16px
}

.star-3 {
    width: 29px
}

.star-4 {
    width: 37px
}

.star-5 {
    width: 50px
}

.star-6 {
    width: 58px
}

.star-7 {
    width: 71px
}

.star-8 {
    width: 79px
}

.star-9 {
    width: 92px
}

.star-10 {
    width: 100px
}
